@model ViewModel
@{
    ViewData["Title"] = "ePasieka";
    var data = Model.DateTimeNow;
}


    <main class="grid-main">

        <div class="main-head">
            <img src="" alt="" />
            <div class="main-div">
                <h1>ePasieka</h1>
                <p class="p-home">Od pszczelarzy dla pszczelarzy</p>
            </div>
        </div>

        <div class="main-article">

            <article class="home-article">
                <h2>Przybywa pszczół w miastach.</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </article>
            <div class="article-img">
                <img src="~/img/bees-city.jpg" alt="Zdjęcie" />
            </div>

            <article class="home-article">
                <h2>Rośliny miododajne pszczelarskiej jesieni.</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </article>
            <div class="article-img">
                <img src="~/img/bee-flower.jpg" alt="Zdjęcie" />
            </div>


            <article class="home-article">
                <h2> Wpływ energetyki wiatrowej na zdrowie, środowisko i pszczoły.</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </article>
            <div class="article-img">
                <img src="~/img/windmile.jpg" alt="Zdjęcie" />
            </div>

            <article class="home-article">
                <h2>Od kilku lat pszczelarstwo staje się modnym hobby.</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </article>
            <div class="article-img">
                <img src="~/img/beehives.jpg" alt="Zdjęcie" />
            </div>

        </div>

        <div class="beehive-base">

        </div>

    </main>
