@model ViewModel

@{
    ViewData["Title"] = "Nowa pasieka";
    var now = Model.DateTimeNow.ToString("yyyy-MM-dd");
}
@section scripts{
    <partial name="_ValidationScriptsPartial" />
    <!-- Ładuje mapę -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTyr2nvpITMw8xCpfuRSb4lX_l2i74lfw&callback=newMap"></script>
}
<h1>Dodaj swoją nową pasiekę.</h1>

<hr />
<div class="row">
    <div class="col-md-4 bgcolor-boot-col">
        <form asp-action="AddBeeGarden">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="beeGarden.name" class="control-label">Nazwa</label>
                <input asp-for="beeGarden.name" class="form-control" />
                <span asp-validation-for="beeGarden.name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="beeGarden.location" class="control-label">Miejscowość</label>
                <input asp-for="beeGarden.location" class="form-control" />
                <span asp-validation-for="beeGarden.location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="beeGarden.latitude" class="control-label">Szerokość geograficzna</label>
                <input asp-for="beeGarden.latitude" class="form-control" id="latID" />
                <span asp-validation-for="beeGarden.latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="beeGarden.longitude" class="control-label">Długość geograficzna</label>
                <input asp-for="beeGarden.longitude" class="form-control" id="longID" />
                <span asp-validation-for="beeGarden.longitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="beeGarden.treatmentDate" class="control-label">Data ostatniego leczenia</label>
                <input asp-for="beeGarden.treatmentDate" class="form-control" min="2000-01-01" max="2200-01-01" value="@now" />
                <span asp-validation-for="beeGarden.treatmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="beeGarden.annotation" class="control-label">Uwagi</label>
                <textarea asp-for="beeGarden.annotation" class="form-control" rows="3"></textarea>
                <span asp-validation-for="beeGarden.annotation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="beeGarden.userID" value="@Model.userID" type="hidden" />
                <input type="submit" value="Utwórz" class="btn btn-primary" style="width: 48%" />
                <a asp-action="BeeGardens" class="btn btn-primary float-right" style="width: 48%">Powrót</a>
            </div>
        </form>
    </div>

    <div class="col-md-8">

        <!-- Kontener w którym jest mapa -->
        <div id="googleMap" class="googleMap-style"></div>
    </div>

</div>




<script>

    function newMap() {

        var markersArray = [];

        var myCenter = new google.maps.LatLng(52.065162, 19.252522);
        var mapProp = {
            center: myCenter,
            zoom: 6,
            scrollwheel: false,
            draggable: true,
            streetViewControl: false,
            mapTypeControl: false,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

        //Funkcja czyszcząca znaczniki z mapy

        function clearOverlays() {
            for (var i = 0; i < markersArray.length; i++) {
                markersArray[i].setMap(null);
            }
            markersArray.length = 0;
        }

        function placeMarkerAndPanTo(latLng, map) {
            clearOverlays();

            var name = "Nowa pasieka"
            var marker = new google.maps.Marker({
                position: latLng,
                title: name,
                map: map
            });
            markersArray.push(marker);
            map.panTo(latLng);

            //Przejście do danego markera po jego wciśnięciu
            marker.addListener('click', function () {
              map.setZoom(11);
              map.panTo(marker.getPosition());
             });
        }

        map.addListener('click', function (e) {
            placeMarkerAndPanTo(e.latLng, map);
        });

        //Przesyłanie danych do formularza

        const lati = document.getElementById("latID");
        const longi = document.getElementById("longID");

        map.addListener('click', function (e) {

            lati.value = e.latLng.lat();
            longi.value = e.latLng.lng();

        });

    }

</script>
