@model ePasieka.Models.BeeGarden

@{
    ViewData["Title"] = $"Usuń \"{Model.name}\"";
}

    <form asp-action="DeleteBeeGarden" id="beeGarden-form">
        <input type="hidden" asp-for="beeGardenID" />
        <input type="submit" value="Usuń" class="btn btn-danger" style="display: none;"/>
    </form>


<script>
    window.onload = function () {
        Swal.fire({
          title: 'Czy na pewno chcesz usunąć?',
          text: "Nie będzie można przywrócić tych danych!",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
            confirmButtonText: 'Tak, usuń to!',
            cancelButtonText: 'Anuluj',
          backdrop: `rgba(0,0,0,0.8)`
        }).then((result) => {
            if (result.value) {
                Swal.fire(
                    'Usunięto!',
                    'Twoja pasieka została usunięta z bazy.',
                    'success'
                ).then(function () {
                    document.querySelector('#beeGarden-form').submit();
                }
                );
            } else {
                window.location = '/BeeGarden/BeeGardens';
            }
        })
    }
</script>